[Unit]
Description=Cart Service

[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.subhan88s.store
ExecStart=/usr/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
